// ==============================
// Custom style
// 自定义样式
// ==============================
:root {
  /* Text */
  --color-text-main: #24292f;
  --color-text-body: #696969;
  --color-text-muted: #8a8a8a;

  

  /* UI */
  --color-border: #d1d1d1;
  --color-bg-quote: #f5f4f4;
}


.home-profile{
  margin-bottom: 80px;
}

.home {
  max-width: 50%;
}



.single {
  color: var(--color-text-main);
  font-family: 'Noto Sans KR';
  

  [theme=dark] & {
    color: #bebebe;
  }

  .single-title {
    margin: 1rem 0 .5rem;
    font-size: 1.6rem; 
    font-weight: bold;
    line-height: 138%;    
  }

  .single-subtitle {
    margin: .4rem 0;
    font-size: 1.2rem;
    font-weight: normal;
    font-style: italic;
    line-height: 100%;
  }



  .featured-image {
    margin: .5rem 0 1rem 0;

    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      overflow: hidden;
    }
  }

  .content {
    color: var(--color-text-main);;

    >h1 {
      font-size: 2.1rem;
      line-height: 1.3;

      & code {
        font-size: 1.75rem;
      }
    }

    >h2 {
      font-size: 1.7rem;
      line-height: 1.3;

      & code {
        font-size: 1.25rem;
      }
    }

    >h3 {
      font-size: 1.5rem;
      line-height: 1.3;

      & code {
        font-size: 1.125rem;
      }
    }

    >h4 {
      font-size: 1.25rem;
      line-height: 1;

      & code {
        font-size: 1rem;
      }
    }

    >h5 {
      font-size: 1.125rem;
    }

    >h6 {
      font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {      
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 0.9rem;
      margin-left: -0.1rem;
      

      [theme=dark] & {
        font-weight: bolder;
      }
    }


    p {
      color: var(--color-text-body);
      font-size: 1.06rem;
      margin: 0.5rem 0;      
      line-height: 1.7rem;
      & code {
        font-family: 'CascadiaCodePL';
        letter-spacing: 0.04em;
        font-size: 0.9rem;
        line-height: 1.2;
      }
    }

    b,
    strong {
      color: var(--color-text-body);
      font-weight: bold;

      [theme=dark] & {
        color: #ddd;
      }
    }
    .chroma,
    .language-java,
    .language-dockerfile,
    .language-javascript,
    .language-go,
    .language-python,
    .language-typescript,
    .language-json {
      font-family: 'CascadiaCodePL';
      letter-spacing: 0.03em;
      font-weight: 400;
    }


    @include link(false, false);

    a {
      @include overflow-wrap(break-word);

      [theme=dark] & b,
      [theme=dark] & strong {
        color: $single-link-color-dark;
      }
    }

    [theme=dark] a:hover b,
    [theme=dark] a:hover strong {
      color: $single-link-hover-color-dark;
    }

    /* 상위 li의 직접 자식 p (제목 역할) */
    li {
      color: var(--color-text-body);
    }

    ol > li > p,
    ul > li > p {
      font-size: 1.06rem;
    }

    ol li li p,
    ul li li p {
      font-size: 0.98rem;
      font-weight: normal;
    }


    ul,
    ol {
      li {
        list-style-type: upper-roman;

        // 순서 O
        ol {
          li {
            // decimal: 십진수
            list-style-type: decimal;

            ul {
              li {
                // circle 빈 원
                list-style-type: circle;                
              }
            }
          }
        }

        // 순서 X
        ul {
          li {
            list-style-type: circle;

            ol {
              li {
                list-style-type: upper-roman;
              }
            }

            ul {
              li {
                // disc 검은 원
                list-style-type: disc;

                ol {
                  li {
                    list-style-type: decimal;
                  }
                }
              }
            }
          }
        }
      }
    }

    ul {
      li {
        list-style-type: circle;

        // 순서가 있는 리스트
        ol {
          li {
            // list-style-type: disc;
            // list-style-type: circle;
            // list-style-type: square;
            list-style-type: decimal;
            // list-style-type: georgian;
            // list-style-type: trad-chinese-informal;
            // list-style-type: kannada;
          }
        }

        // 순서가 없는 리스트
        ul {
          li {
            list-style-type: disc;

            ul {
              li {
                list-style-type: square;
              }
            }
          }
        }

      }
    }

    ul,
    ol {
      margin: .4rem 0;
      padding-left: 2rem;
    }

    ul {
      list-style-type: disc;
      li {
        margin: .4rem 0;
      }
    }

    ol {
      li {
        margin: .4rem 0;
      }
    }

    img {
      max-width: 100%;
      min-height: 1em;
    }

    figure {
      margin: .4rem;
      text-align: center;

      .image-caption:not(:empty) {
        min-width: 20%;
        max-width: 80%;
        display: inline-block;
        padding: .5rem;
        margin: 0 auto;
        font-size: .875rem;
        color: #969696;
      }

      img {
        display: block;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
      }
    }


    blockquote {
      line-height: 1.6;
      display: block;
      border-left: .25rem solid #d1d1d1;
      background-color: #f5f4f4;
      padding: .09rem .75rem;
      margin: .5rem 0;

      blockquote {
        margin: .35rem 0;
      }

      p {
        font-size: 1em;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }

      [theme=dark] & {
        border-left-color: $blockquote-color-dark;
        background-color: rgba($blockquote-color-dark, .2);
      }
    }

    hr {
      margin: 1rem 0;
      position: relative;
      border-top: 1px dashed $global-border-color;
      border-bottom: none;

      [theme=dark] & {
        border-top: 1px dashed $global-border-color-dark;
      }
    }
  }
}
