// ==============================
// Custom style
// 自定义样式
// ==============================
.single {
  .content {
    blockquote {
      display: block;
      border-left: .3rem solid #ededed;
      background-color: rgba(255, 255,255 , .974);
      padding: .1rem .75rem;
      margin: 1rem 0;

      [theme=dark] & {
        border-left-color: $blockquote-color-dark;
        background-color: rgba($blockquote-color-dark, .2);
      }
    }
  }
}